#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html, body {
  overflow-x: hidden !important;
  width: 100vw;
  scrollbar-width: none;
  margin:0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-background {
  min-height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at 25% 60%, #30164c 0%, #1a2540 40%, #122538 80%);
  background-size: 200% 200%;
  animation: gradientMove 18s ease-in-out infinite;
  position: relative;
  overflow-x: hidden;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 40%;
  }
  100% {
    background-position: 0% 60%;
  }
}
